<div fxLayout="column" class="container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-icon (click)="onNavigationBefore()">navigate_before</mat-icon>
    <h1>{{ 'stats.title' | translate }}</h1>
    <span></span>
  </div>
  <h2 *ngIf="exerciceName">Exercice : {{ exerciceName }}</h2>
  <mat-list class="list">
    <mat-list-item *ngFor="let stat of stats">
      {{ stat.label }}: {{ stat.success }} {{ 'stats.success' | translate }}, {{ stat.fails }}
      {{ 'stats.fails' | translate }}
    </mat-list-item>
  </mat-list>
  <button mat-raised-button (click)="onDropStatistics()">{{ 'stats.removeStats' | translate }}</button>
</div>
