<div fxLayout="row" fxLayoutAlign="space-between">
  <mat-icon (click)="onNavigationBefore()">navigate_before</mat-icon>
  <h1>{{ 'global.caseColor' | translate }}</h1>
  <span></span>
</div>
<h2>{{ 'case-color.question' | translate: { case: currentCase?.toString() } }}</h2>
<div fxLayout="column" fxLayoutGap="1rem">
  <button mat-raised-button color="accent" (click)="onSubmit(false)">{{ 'case-color.white' | translate }}</button>
  <button mat-raised-button color="basic" (click)="onSubmit(true)">{{ 'case-color.black' | translate }}</button>
  <div *ngIf="chrono">
    {{ 'case-color.time' | translate }}:
    <b [chronometer]="chronometer" [chronoEvents]="true" (onChronoEvent)="onChronoEvent($event)"></b>
  </div>
</div>
