.mat-focus-indicator.mat-raised-button.mat-button-base {
  &.mat-primary {
    background-color: #63a835;
  }
  &.mat-accent {
    background-color: #ffffff;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
