.mat-focus-indicator.mat-raised-button.mat-button-base {
  &.mat-primary {
    background-color: #63a835;
  }
  &.mat-accent {
    background-color: #ffffff;
  }
}

.mat-grid-tile {
  border: 1px solid #7e7e7e;
  &.value.negative{
    color: #ff5e5e;
  }
  &.value.positive{
    color: #34d134;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
